*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(228, 228, 228);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    min-width: 300px;
}

h1{
    text-align: center;
    color: #333;
    margin-bottom: 0.7rem;
}

.form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative; 
}


input{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid;
    width: 100%;
    font-size: 14px;
    transition: border-color 0.3s;
}

label{
    font-weight: bold;
}

input:focus{
    outline: none;
    border-color: #3498db;
}

small{
    position: absolute;
    bottom: -18px;
    left: 0;
    font-size: 12px;
}

button{
    border: none;
    background-color: #3498db;
    cursor: pointer;
    color: white;
    padding: 12px;
    display: block;
    font-size: 1rem;
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #2980b9;
}

.form-group.error input{
    border-color: #e74c3c;
}

.form-group.success input{
    border-color: #2ecc71;
}

.form-group.error small{
    visibility: visible;
    color: #e74c3c;
}