body{
    background-color: rgb(161, 161, 161);
}

button{
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.increase:hover{
    background-color: rgb(21, 183, 75);
    transition:0.5s;
    color: black;
    font-weight: bold;
    border-color: white;
    border-style: solid;
}

.decrease:hover{
    background-color: rgb(217, 54, 9);
    transition:0.5s;
    color: black;
    font-weight: bold;
    border-color: white;
    border-style: solid;
}

.reset:hover{
    background-color: rgb(47, 185, 239);
    transition:0.5s;
    color: black;
    font-weight: bold;
    border-color: white;
    border-style: solid;
}

#todisplay{
    font-size: 50px;
    text-align: center;
}

.main-container{
    margin:auto;
    width: 50%;
}

.button-div{
    display: flex;
    justify-content: center;
}